* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body, html {
    height: 100%;
    max-width: 1024px;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
  }
  
  .navbar {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .nav a:hover {
    text-decoration:none;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0);
    font-size: 24px;
  }
  
  #chkToggle {
    display: none;
  }
  
  #chkToggle:checked + ul.main-nav {
    display: block;
  }
  
  @media screen and (min-width: 1024px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    #chkToggle:checked + ul.main-nav {
      display: flex;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgb(176, 216, 0);
    }
  }

.splash-container {
  position: relative;
  display: inline-block;
}

.splash-container img { 
  display: block;
  width: 100%;
  max-width: 1024px;
}

.text-box-left {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate( -10%, -50% );
  text-align: left;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  background: rgba(0,0,0,0.5);
}

.project-page {
  padding-top: 20px;
  text-align: center;
}

.project-main {
  display: inline-block;
  
}

.project-left {
  display: inline-block;
  padding-bottom: 50px;
  padding-top: 50px;
}

.project-left img {
  float: right;
  max-width: 350px;
}

.project-left h2 {
  padding-top: 10px;
  float: left;
}

.project-left p {
  position: relative;
  float: left;
  text-align: left;
  max-width: 500px;
  padding-bottom: 10px;
  padding-top: 10px;
} 

.project-right {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project-right img {
  float: left;
  max-width: 350px;
}

.project-right h2 {
  padding-top: 10px;
  float: right;
}

.project-right p {
  float: right;
  text-align: right;
  max-width: 500px;
  padding-bottom: 10px;
  padding-top: 10px;
}

  /* Style the <hr> element */
  /*hr {
    margin: auto;
    width: 40%;
    float: left;
  }

.main {
    position: relative;
    font-family: 'Work Sans', sans-serif;
} */